In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./4.csv")

In [5]:
print(df)

     열차번호     4501K     4503K     4505K      4507      4509      4511  4001  \
0    열차종류        AC        AC        AC        AC        AC        AC    DC
1     출발역        안산        금정        금정        사당     한성대입구        노원   당고개
2     도착역       오이도       오이도       오이도       오이도       오이도       오이도    사당
3     NaN       NaN       NaN       NaN       NaN       NaN       NaN   NaN
4      진접       NaN       NaN       NaN       NaN       NaN       NaN   NaN
..    ...       ...       ...       ...       ...       ...       ...   ...
102    정왕  05:35:30  06:16:30  06:32:30  06:48:00  07:04:30  07:17:00   NaN
103   NaN  05:36:00  06:17:00  06:33:00  06:48:30  07:05:00  07:17:30   NaN
104   오이도  05:38:30  06:19:30  06:35:30  06:51:00  07:07:30  07:20:00   NaN
105   NaN       NaN       NaN       NaN       NaN       NaN       NaN   NaN
106  연결열번      4516      4422      4426      4530      4536      4544  4010

         4513  4003  ...  4213 4343K 4215 4217 4219 4221 4223 Unnamed: 182  \
0          AC    DC  ...    AC    AC   DC   DC   DC   DC   DC          NaN
1         당고개    진접  ...   당고개   당고개   진접   진접   진접   진접   진접          NaN
2         오이도    사당  ...    사당    금정   사당   사당  남태령  서울역  당고개          NaN
3         NaN   NaN  ...   NaN   NaN  NaN  NaN  NaN  NaN  NaN          NaN
4         NaN   NaN  ...   NaN   NaN  NaN  NaN  NaN  NaN  NaN          NaN
..        ...   ...  ...   ...   ...  ...  ...  ...  ...  ...          ...
102  07:28:00   NaN  ...   NaN   NaN  NaN  NaN  NaN  NaN  NaN          NaN
103  07:28:30   NaN  ...   NaN   NaN  NaN  NaN  NaN  NaN  NaN          NaN
104  07:31:00   NaN  ...   NaN   NaN  NaN  NaN  NaN  NaN  NaN          NaN
105       NaN   NaN  ...   NaN   NaN  NaN  NaN  NaN  NaN  NaN          NaN
106      4540  4012  ...  4853    주박   주박   주박   주박   주박   입고          NaN

    Unnamed: 183 Unnamed: 184
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
102          NaN          NaN
103          NaN          NaN
104          NaN          NaN
105          NaN          NaN
106          NaN          NaN

[107 rows x 185 columns]

In [26]:
# 찾고자 하는 값을 지정합니다
target_value = '별가람'

# '열차번호' 열에서 대상 값이 포함된 행을 추출합니다
filtered_df = df[df['열차번호'].isin([target_value])]
filtered_df = filtered_df.dropna(axis=1)

# print(filtered_df.to_string(index=False))
filtered_df

,열차번호,4003,4007,4011,4015,4019,4023,4029,4031,4033,...,4195,4199,4201,4207,4209,4215,4217,4219,4221,4223
8,별가람,05:33:30,05:54:30,06:11:00,06:27:00,06:41:00,06:59:00,07:19:00,07:29:00,07:35:30,...,21:01:00,21:31:00,21:47:00,22:19:00,22:39:00,23:22:00,23:41:00,24:03:30,24:17:30,24:34:30

In [41]:
import pandas as pd

# 주어진 데이터
data = ["05:33:30", "05:54:30", "06:11:00", "06:27:00", "06:41:00", "06:59:00", "07:19:00", "07:29:00", "07:35:30",
        "09:32:00", "07:47:00", "07:57:00", "08:06:00", "09:43:30", "08:13:30", "10:14:00", "08:26:00", "08:38:00",
        "08:44:00", "10:45:00", "09:08:00", "09:18:00", "11:15:00", "10:24:00", "10:56:30", "11:48:30", "12:09:00",
        "14:45:30", "13:03:00", "13:41:30", "14:01:00", "14:57:00", "15:39:00", "18:10:00", "16:28:00", "16:45:00",
        "17:34:00", "19:20:00", "18:24:00", "19:04:00", "20:01:00", "20:33:00", "21:01:00", "21:31:00", "21:47:00",
        "22:19:00", "22:39:00", "23:22:00", "23:41:00", "00:03:30", "00:17:30", "00:34:30"]

# 입력한 시간
input_time = input("별내별가람 파업기간 출발시간을 입력해주세요")
input_time += ':00'
    
# 주어진 데이터를 시리즈로 변환하고 datetime 형식으로 변환
datetime_data = pd.to_datetime('20231122 ' + pd.Series(data).replace('24:', '00:'), format='%Y%m%d %H:%M:%S')

# 입력한 시간을 datetime 형식으로 변환
input_datetime = pd.to_datetime('20231122 ' + input_time, format='%Y%m%d %H:%M:%S')

# 주어진 데이터 중에서 가장 가까운 시간 찾기
closest_time = datetime_data.iloc[(datetime_data - input_datetime).abs().idxmin()]
after_input_time = datetime_data[datetime_data > input_datetime].iloc[0]

# 결과 출력
print("입력한 시간:", input_datetime.time())
print("가장 빠른 열차 시간:", closest_time)

입력한 시간: 12:00:00
가장 빠른 열차 시간: 2023-01-01 12:09:00